# Ignore Unneeded Configutation Files.
.eslintrc*

# VSCode Dependencies
.vscode/
*.code-workspace

# Scratch Files and Directories
*.old
/notes

# NODE Dependencies
node_modules/
package-lock.json

# Build Directories
/public/assets/
/public/build/


# Ignore Font Files
*.woff
*.woff2
